<!DOCTYPE html>
    <html lang="en">
    
    <head>
        <title>Build Status Tracker</title>
        <meta http-equiv="refresh" content="30" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    <body style="background-color:#40485A;">
        <div class="p-3 mb-2 bg-dark text-white container-fluid">
            <h1><font color="White">Latest Build Status</font></h1>
            <p>
            <!--Dynamic Stuff Here</h1> -->
            <h3>
            {{range .}} 
                {{if eq .LastBuildStatus "Success"}}
                    <span class="label label-success" title="{{.Name}}" data-toggle="popover" data-html="true" data-content="Description: {{.Description}}<br>BuildVersion: {{.BuildVersion}}<br>BuildPromoted: {{.BuildPromoted}}<br>Last Build Date: {{.LastBuild}}<br>URL: <a href={{.CallbackURL}}>{{.CallbackURL}}</a>">{{.Name}}</span>
                {{else if eq .LastBuildStatus "Fail"}}
                    <span class="label label-danger" title="{{.Name}}" data-toggle="popover" data-html="true" data-content="Description: {{.Description}}<br>BuildVersion: {{.BuildVersion}}<br>BuildPromoted: {{.BuildPromoted}}<br>Last Build Date: {{.LastBuild}}<br>URL: <a href={{.CallbackURL}}>{{.CallbackURL}}</a>">{{.Name}}</span>
                {{else if eq .LastBuildStatus "Stale"}}
                    <span class="label label-warning" title="{{.Name}}" data-toggle="popover" data-html="true" data-content="Description: {{.Description}}<br>BuildVersion: {{.BuildVersion}}<br>BuildPromoted: {{.BuildPromoted}}<br>Last Build Date: {{.LastBuild}}<br>URL: <a href={{.CallbackURL}}>{{.CallbackURL}}</a>">{{.Name}}</span>
                {{else}}
                    <span class="label label-default" title="{{.Name}}" data-toggle="popover" data-html="true" data-content="Description: {{.Description}}<br>BuildVersion: {{.BuildVersion}}<br>BuildPromoted: {{.BuildPromoted}}<br>Last Build Date: {{.LastBuild}}<br>URL: <a href={{.CallbackURL}}>{{.CallbackURL}}</a>">{{.Name}}</span>
                {{end}}
            {{end}}
            </h3>
            </p>


        </div>
        

        <script>
            $(document).ready(function () {
                $('[data-toggle="popover"]').popover();
            });
        </script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>
    
    </html>